@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1316px) {
  .container {
    max-width: 1316px;
  }
}
:root {
  --main-color: #111518;
  --accent-color: #ff6b09;
  --secondary-color: #b9b9b9;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Montserrat", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.program {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000000;
}

.program-title {
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.program-list > li {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

.program-list > li:not(:last-child) {
  margin-bottom: 40px;
}

.program-term-list > li {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  align-items: center;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  text-transform: none;
}

.program-content-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--secondary-color);
  opacity: 0.5;
}

.warranty {
  margin-top: 50px;
  margin-bottom: 50px;
}

.warranty__list-container {
  background-color: #f1f1f1;
}

.warranty__list {
  max-width: 280px;
}

.warranty__item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67em;
  position: relative;
  list-style: none;
  color: #3d3d3d;
}

.warranty__item:not(:last-child) {
  margin-bottom: 20px;
}

.warranty__heading {
  text-align: center;
  margin-bottom: 30px;
}

.warranty__list {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.warranty__item::before {
  position: absolute;
  transform: translate(-30px, -5px);
  width: 15px;
  height: 30px;
  display: block;
  content: " ";
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/fire.5b9d70a3.svg");
}

.warranty__list::before {
  position: absolute;
  transform: translate(-23px, 20px);
  content: " ";
  height: 300px;
  width: 2px;
  background-image: url("/rect1.2675c1a6.svg");
}

.warranty__accent {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .warranty__list::before {
    height: 180px;
    transform: translate(-32px, 20px);
  }

  .warranty__item::before {
    transform: translate(-38px, -5px);
  }

  .warranty__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .warranty__list {
    max-width: 560px;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1316px) {
  .warranty__heading {
    font-size: 46px;
    line-height: 1.3em;
  }

  .warranty__list {
    max-width: 1040px;
    margin-left: 110px;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .warranty__item {
    font-size: 20px;
    line-height: 1.4em;
  }

  .warranty__list::before {
    height: 240px;
    transform: translate(-40px, 20px);
  }

  .warranty__item::before {
    transform: translate(-49px, 0px);
    width: 22px;
    height: 38px;
    background-color: #f1f1f1;
  }

  .warranty {
    margin-bottom: 130px;
  }
}

/*# sourceMappingURL=/main.07544d9b.css.map */