<section class="problem"> 
    <div class="problem-section-container container">
        <h1 class="problem-title">Главные проблемы учеников 
            <br>на English ВНО,  которые </br> 
        мы 
        <span class="problem-title-item">помогаем</span> 
        решить</h1> 

    <div class="problem-list-container container">
    <ul class="problem-list list">
        <li class="problem-item">
            <p class="problem-item-number">Незнание грамматики</p>
        </li>
        <li class="problem-item">
            <p class="problem-item-number">Неумение воcпринимать устную английскую речь</p>
        </li>
        <li class="problem-item">
            <p class="problem-item-number">Скупой словарный запас для написани сочинения</p>
        </li>
        <li class="problem-item">
            <p class="problem-item-number">Подготовка в одиночку</p>
        </li>
        <li class="problem-item">
            <p class="problem-item-number">Отсутствие единого ресурса знаний</p>
        </li>
        <li class="problem-item">
            <p class="problem-item-number">Недостатой самоорганизации и лень</p>
        </li>
    </ul>

    </div>
    </div>
</section>